/*body*/
.body {
  max-width: 1440px;
  margin: auto;
}

/*header*/
.header {
  max-width: 1340px;
  margin: auto;
  margin-top: 92px;
  display: flex;
  align-items: center;
}

.header__menu {
  max-width: 393px;
}

.header__links-container {
  list-style-type: circle;
  display: flex;
  flex-direction: row;
  gap: 33px;
}

.header__list {
  list-style-type: none;
}

.header__list-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__list-item_no-bullit {
  text-decoration: none;
}

.header__logo {
  margin: auto;
  padding-right: 148px;
}

.header__logo-image {
  height: 105px;
  object-fit: cover;
}

.address {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.address__contacts-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

/*content*/
.content {
  margin-top: 92px;
}

/*cover*/
.cover {
  max-width: 1440px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay__container {
  position: relative;
  width: 100%;
 height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  margin: auto;
  position: sticky;
  max-width: 1340px;
  padding-top: 165px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-top: 13px;
  margin-right: 61px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 5px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.initial-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    position: sticky;
    padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 128px;
  color: #fff;
  align-items: center;
  justify-content: flex-end;
}

.cover__description-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__bet-button {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  width: 257px;
  height: 52px;
  color: #fff;
  cursor: pointer;
  margin-left: 78px;
  margin-right: 50px;
}

/*lots*/
.lots {
  margin: auto;
  max-width: 1340px;
  margin-top: 180px;
}

.lots__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__container-link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.lots__item {
  width: 430px;
  min-height: 450px;
  color: white;
  display: flex;
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lots__item-cinema {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__item-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__item-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lot__text {
    position: sticky;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lot__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  max-width: 350px;
  margin-top: 50px;
}

.lot__subtitle {
  max-width: 350px;
  margin-bottom: 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__more {
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*about*/
.about {
  margin: auto;
  max-width: 1340px;
  margin-top: 180px;
  display: flex;
  flex-direction: row;
}

.about__ellipse {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  margin-left: 95px;
}

.about__logo {
  width: 148px;
  height: 114px;
  margin-top: 60px;
  margin-left: 45px;
}

.about__container {
  margin-left: 120px;
  max-width: 885px;
  margin-top: 102px;
}

.about__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.about__paragraph {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*footer*/
.footer {
  max-width: 1340px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 183px;
  margin-bottom: 90px;
}

.footer__image {
  width: 48px;
  height: 48px;
}

.footer__links {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link-active {
    text-decoration: none;
}

.footer__link-list {
  list-style-type: none;
}

.footer__socials {
  max-width: 240px;
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.footer__socials-item {
  list-style-type: none;
}
